<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Echopen{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
            'assets/sass/.scss'
            'assets/sass/fontawesome.min.scss'


            filter='compass' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    {% javascripts
    'assets/scripts/jquery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</html>
